*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: color;
}

.main{
    display: flex;
    justify-content: right;
    color: white;
}
.main ul{
    list-style: none;
    text-decoration: none;
    display: flex;
}
.main li{
    padding: 1rem;
}
.main a{
    color: white;
    text-decoration: none;
}
section{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
}
article{
    margin: 1rem;
}
footer{
    background-color: black;
    text-align: right;
    color: white;
    padding: 1rem;
}